/* Reset Password Container */
.resetPassword {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fff5bc, #cec1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

/* Reset Password Form */
.resetPasswordForm {
  background-color: white;
  width: 50%;
  max-width: 600px; /* Adjust based on your design */
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reset Password Inputs */
.resetPasswordInputs {
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax 0;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}

/* Reset Password Form Link */
.resetPasswordForm > a {
  align-self: flex-end;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 2vmax;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 600px) {
  .resetPasswordForm {
    width: 100%;
  }

  .resetPasswordInputs {
    padding: 4vw 8vw;
    margin: 4vw 0;
    font-size: 4vw;
  }

  .resetPasswordForm > a {
    align-self: center;
    margin-top: 4vw;
  }
}
