/* Search Container */
.search {
  height: 100vh;
  background-image: linear-gradient(to right, #fff5bc, #cec1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

/* Search Form */
.searchForm {
  background-color: #db9292;
  width: 50%;
  max-width: 600px; /* Adjust based on your design */
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search Form Input */
.searchForm > input {
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 2vmax 0;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}

/* Search Results */
.searchResults {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2vmax;
  box-sizing: border-box;
  margin: 2vmax;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 600px) {
  .searchForm {
    width: 100%;
  }

  .searchForm > input {
    padding: 4vw 8vw;
    margin: 4vw 0;
    font-size: 4vw;
  }
}
